html{
    background-image: url(../image/fondbleu.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.logpseu{
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
    font-weight: 800;
}

.logo16{
    width: 100px;
    height: 100px;
}

.logpseu > p{
    margin: 0;
    margin-bottom: 50px;
}

.rose{
    height: 200px;
    background-color: #FF8FA2;
    border-radius: 20px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25), inset -4px -4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(255, 255, 255, 0.25);
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 20px 0;
} 

.rrose{
    height: 100%;
}

.ombreuu{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.25), inset 8px 8px 8px rgba(255, 255, 255, 0.25), inset -8px -8px 8px rgba(0, 0, 0, 0.25);
    background-color: #6A5AE0;
    color: white;
    border-style: none;
    font-size: 20px;
    width: 90%;
    height: 70px;
    border-radius: 20px;
    margin: 14px;
}

.ombreuu:active{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.25), inset -8px -8px 8px rgba(255, 255, 255, 0.25), inset 8px 8px 8px rgba(0, 0, 0, 0.25);
}