
body{
    background-image: url(../image/fondbleu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Nunito', sans-serif;
}
img{
    height: 100px;
    width: 100px;
}

.bonnereponse{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

.lasuite{
    border-radius: 20px;
    box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(255, 255, 255, 0.25);
    color:#6A5AE0;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    background-color: white;
    padding: 20px 50px;
    

}
h1{
    color:#ff0000;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    
}

a{
    text-decoration: none;
}