html{
    background-image: url(../image/fondbleu.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Nunito', sans-serif;
}

.page{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}

nav{
    left: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 100px;
    height: 100px;
    background-image: url(../image/Logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1{
    color: white;
    font-size: 36px;
    margin: 10px 0;
}

.rose{
    height: 200px;
    background-color: #FF8FA2;
    border-radius: 20px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25), inset -4px -4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(255, 255, 255, 0.25);
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 20px 0;
} 

.pseudo{
    text-align: center;
}

.ombreuu{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.25), inset 8px 8px 8px rgba(255, 255, 255, 0.25), inset -8px -8px 8px rgba(0, 0, 0, 0.25);
    background-color: #6A5AE0;
    color: white;
    border-style: none;
    font-size: 20px;
    width: 80%;
    height: 70px;
    border-radius: 20px;
    margin: 14px;
}
.ombreuu::placeholder{
    color: white;
}
.ombreuu:active{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.25), inset -8px -8px 8px rgba(255, 255, 255, 0.25), inset 8px 8px 8px rgba(0, 0, 0, 0.25);
}